.featuredImg {
	display: grid;
	place-content: center;
	padding: 0 5%;
	margin: 2%;
}
.featuredImg > * {
	margin: auto;
}
.content_container {
	padding: 2% 8%;
	background-color: #fffff4c4;
	border-radius: 20px;
	font-size: 1.2em;
}
.content_container > * {
	margin: auto;
}

.video_container {
	padding: 2% 8%;
	border-radius: 20px;
	display: grid;
	place-content: center;
}
.video_container > * {
	margin: auto;
}
.image_container {
	padding: 2% 8%;
	border-radius: 20px;
	display: grid;
	place-content: center;
}
.image_container > * {
	margin: auto;
}
