/* LATEST POST */
.latestCont {
	padding: 5px;
	display: grid;
	place-content: center;
	grid-template-columns: 60% 40%;
	background-color: #f5f3f3;
	border-radius: 20px;
}
.latestCont > * {
	padding: 3%;
}
.latestImg {
}
.latestContent {
	margin: auto;
}
.latestDate {
	padding-top: 5px;
	font-size: smaller;
	font-weight: 200;
	opacity: 0.7;
}
/* FEATURED ROW */
.featuredContain {
	display: grid;
	grid-template-columns: 33% 33% 33%;
}
.featureItem {
	display: grid;
	grid-template-columns: 50% auto;
	margin: 5px;
	padding: 2%;
	background-color: #f5f3f3;
	border-radius: 5px;
}
.featuredTitle {
	margin: auto;
	padding-left: 5px;
}

@media (max-width: 480px) {
	.latestCont {
		grid-template-columns: auto;
	}
	.featuredContain {
		grid-template-columns: auto;
	}
	.featureItem {
		margin: 1% 10%;
		grid-template-columns: auto;
		padding: 4%;
	}
}
