.picture_text_contain {
	display: flex;
	flex-direction: row;
	min-width: 600px;
	justify-content: center;
	align-items: center;
	padding: 2rem 6rem;
}
.image_contain {
	max-width: 300px;
	min-width: 300px;
}
.text_button_contain {
	padding: 20px;
	max-width: 400px;
}
.reveal {
	cursor: pointer;
	transition: 0.2s;
}
.reveal:hover {
	font-size: large;
	color: purple;
}
.code {
	background-color: rgba(0, 0, 0, 0.725);
	padding: 10px;
	margin-bottom: 10px;
}
.x_out {
	font-size: 20px;
	color: white;
	float: right;
	cursor: pointer;
}
.code h2 {
	color: white;
}

/* 480 width */

@media (max-width: 480px) {
	.picture_text_contain {
		flex-direction: column;
		min-width: 0;
		padding: 20px 5px;
	}
	.text_button_contain {
		padding: 10px;
	}
}
