.fade_in {
	scroll-behavior: smooth;
	animation: fade-in 1s;
	transition-timing-function: ease;
}

.fade_out {
	scroll-behavior: smooth;
	animation: fade-out 1s;
	transition-timing-function: ease;
}
/* ex */
@keyframes fade-in {
	from {
		opacity: 0;
		height: 0px;
	}
	to {
		opacity: 1;
		height: fit-content;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
		height: fit-content;
	}
	to {
		opacity: 0;
		height: 0px;
	}
}
