.fade_in {
	display: grid;

	animation: fade-in 1s;
	transition-timing-function: ease;
	animation-fill-mode: forwards;
}

.fade_out {
	display: grid;
	animation: fade-out 1s;
	transition-timing-function: ease;
	animation-fill-mode: forwards;
}

/* ex */
@keyframes fade-in {
	0% {
		opacity: 0%;
		grid-template-rows: 0fr;
	}
	25% {
		opacity: 10%;
	}
	75% {
		opacity: 80%;
	}
	100% {
		grid-template-rows: 1fr;
		opacity: 100%;
	}
}

@keyframes fade-out {
	0% {
		opacity: 100%;
		grid-template-rows: 1fr;
	}
	25% {
		opacity: 20%;
	}
	75% {
		opacity: 0%;
	}
	100% {
		opacity: 0%;
		grid-template-rows: 0fr;
	}
}
